*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
#divCanvas{
    display: flex;
    height: 86vh;
    align-items: center;
}
#myCanvas{
    height: 480px;
    width: 640px;
}