*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#divCanvas{
    display: flex;
    height: 86vh;
    align-items: center;
}
#myCanvas{
    height: 480px;
    width: 640px;
    border: 2px solid black;
}
#notificacionClick,#instrucciones{
    display: flex;
    justify-content: center;
    height: 7vh;
    align-items: center;
}